
<div class="contents disabled" id="contents">
  <ol>
    <li><a href="/">Главная</a></li>
    <li><a href="/doctor-choose-main.html">Выбор доктора</a></li>
  </ol>
  <h3>Резервация онлайн</h3>
  <ol>
    <li><a href="/doctor-category.html">Специальность врача</a></li>
    <li><a href="/doctor-categories-doctors.html">Выберите врача</a></li>
    <li><a href="/doctor-profile.html">Профиль врача</a></li>
    <li><a href="/doctor-choose-contacts.html">Оставьте контактные данные для связи</a></li>
    <li><a href="/proposal-thank-you-page.html">Спасибо за заявку</a></li>
  </ol>
  <p> <a href="#" onclick="closeContents()">Закрыть</a></p>
</div>