
<div class="contents disabled" id="contents">
  <ol>
    <li><a href="index.html">Главная</a></li>
  </ol>
  <h3>Кабинет
    <ol>
      <li><a href="admin-dashboard.html">Панелька</a></li>
      <li><a href="doctor-choose-main.html">Выбор доктора</a></li>
      <li><a href="doctor-appointments.html">Расписание приема доктора</a></li>
      <li><a href="doctor-appointment-choose.html">Расписание приема всех докторов</a></li>
      <li><a href="clients-search.html">Поиск клиента</a></li>
      <li><a href="doctors-table.html">Доктора</a></li>
      <li><a href="new-doctor.html">Новый доктор</a></li>
      <li><a href="doctor-spec.html">Специальности докторов</a></li>
      <li><a href="new-doctor-spec.html">Новая специальность доктора</a></li>
    </ol>
  </h3>
  <h3>Резервация онлайн</h3>
  <ol>
    <li><a href="doctor-category.html">Специальность врача</a></li>
    <li><a href="doctor-categories-doctors.html">Выберите врача</a></li>
    <li><a href="doctor-profile.html">Профиль врача</a></li>
    <li><a href="doctor-choose-contacts.html">Оставьте контактные данные для связи</a></li>
    <li><a href="proposal-thank-you-page.html">Спасибо за заявку</a></li>
  </ol>
  <p> <a href="#" onclick="closeContents()">Закрыть</a></p>
</div>