
<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <div><img class="footer__logo" src="images/logo.png" alt="Клиника мануальной терапии доктора Чечиля"/></div>
        <div><a class="agency" href="https://spb-studio.design" target="_blank">Разработано в spb-studio.design</a></div>
      </div>
      <div class="footer-col">
        <div>
          <p><a class="tel" href="tel: +7(495)741-84-94">+7(495)741-84-94</a></p>
          <p><a class="mail" href="mailto: reception@chechil.com">reception@chechil.com</a></p>
        </div>
        <div>
          <p><a href="#">Информация для потребителя</a></p>
        </div>
      </div>
      <div class="footer-col">
        <div class="address">
          <p>123317, Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити", Башня Федерация "Запад", 40 этаж.</p>
        </div>
        <div>
          <p class="copyright">© ООО “Клиника-Чечиля”, 2012 - 2018<span class="social-links"><a href="https://vk.com/doctor_chechil"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-odnoklassniki"></i></a></span></p>
        </div>
      </div>
    </div>
  </div>
</footer>